.navigation {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.container__navigation {
    justify-content: right;
}

.navigation__list {
    display: flex;
    
    align-items: center;
    gap: 50px;
    order: 1;
    flex-grow: 0;
}

.navigation__icon {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navigation__icon-first {
    color: #19F6FA;
}

