.footer {
    background: #1E4776;
    padding-top: 45px;
    padding-bottom: 104px;
    color: white;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer__col {
    max-width: 350px;
    flex-grow: 1;
}

.footer__copyright {
    line-height: 1.3;
}

.name {
    margin-bottom: 15px;   
    font-weight: 700;
    font-size: 28px;
    color: #7E9EC9;
}

.text {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
    color: #7E9EC9;
}

.social__list {
    display: flex;
    gap: 30px;
}

.footer__btn {
    padding: 15px 30px;
    background: #1E4776;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
    transition: all 0.3s ease-in;
}

.footer__btn:hover {
    background: #fff;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #1E4776;
    margin-bottom: 16px;
}

.footer__content-text {
    font-weight: 400;
    font-size: 16px;
    color: #7E9EC9;
}

@media (max-width: 1140px) {
    .footer {
        margin-top: 50px;
        padding-top: 40px;
        padding-bottom: 61px;
    }

    .footer__wrapper {
       flex-direction: column-reverse;
       align-items: center;
       text-align: center;
    }
}

@media (max-width: 580px) {
    .footer__col {
        max-width: 290px;
        padding: 10px;
    }

    .name {
        font-size: 18px;
    }

    .text {
        font-size: 16px;
    }

    .footer__content-text {
        font-size: 14px;
    }
}

@media (max-width: 320px) {}
