<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProApple</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <img src="./img/logo.jpg" alt="logo ProApple" class="header__logo">

            <nav class="header__navigation navigation">
                <ul class="navigation_list">
                    <li class="navigation__item">
                        <a href="#goods" class="navigation_link">Продукты</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#features" class="navigation_link">Характеристики</a>
                    </li>
                </ul>
            </nav>

            <div class="header__country country">
                <button class="country__btn">Страны</button>
                <ul class="country__list">
                    <li class="country__item">
                        <button class="country__btn">Russia, RUB</button>
                </li>
                    <li class="country__item">
                        <button class="country__btn">USA, USD</button>
                </li>
                    <li class="country__item">
                        <button class="country__btn">Germany, EURO</button>
                </li>
                    <li class="country__item">
                        <button class="country__btn">Great Britain, GBP</button>
                </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="banner"></section>
        <section class="goods"></section>
        <section class="features"></section>
    </main>
    <footer class="footer"></footer>
</body>
</html>