@import 'normalize.css';
@import 'default.css';
@import 'header.css';
@import 'navigation.css';
@import 'banner.css';
@import 'location.css';
@import 'events.css';

@font-face {
    font-family: 'Bad Script';
    font-weight: 300;
    src: url('../fonts/Bad_Script/BadScript-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('../fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('../fonts/Inter/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('../fonts/Inter/Inter-Medium.ttf');
}
