<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/procedures.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <header class="header">
        <div class="container header__container">
            <img src="./img/logo.jpg" alt="logotip" class="header__logo">

            <nav class="header__nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Обо мне</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">процедуры</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">отзывы</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Советы</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="main">
        <div class="container main__container">
            <div class="main__content">
                <h1 class="main__title">Косметолог</h1>
                <h1 class="main__title haup__title">Елена свердлова</h1>
                <a class="main__btn">Записаться</a>
            </div>

            <div class="main__foto">
                <img src="./img/главное фото.jpg" alt="Elena foto" class="main__elena">
            </div>
        </div>
    </section>

    <section class="about">
        <h2 class="title__h2">Обо мне</h2>
        <div class="container about__container">
            <img src="./img/обо мне.jpg" alt="about" class="about__img">
            <div class="about__content">
                <p class="about__text">Меня зовут Елена, и я являюсь косметологом с многолетним опытом работы. Моя специализация - это уход за кожей.</p>
                <p class="about__text">Я предоставляю широкий спектр процедур, начиная от очищения и увлажнения кожи, до более сложных процедур, таких как химический пилинг и лазерная шлифовка. Я также провожу консультации по уходу за кожей и помогаю моим клиентам подобрать оптимальный уход дома.</p>
                <p class="about__text">Я стараюсь создать комфортную и уютную атмосферу в своем кабинете, чтобы мои клиенты могли расслабиться и насладиться процедурами. Мой приоритет - это здоровье и безопасность моих клиентов.</p>
            </div>
        </div>
        <img class="schmuck" src="./img/украшение.jpg" alt="украшение">
    </section>

    <section class="procedures">
        <h2 class="title__h2">Процедуры</h2>
        <div class="container procedures__container">
            <div class="procedures__cards">
                <div class="procedures__card">
                    <img src="./img/clean face.jpg" alt="" class="procedures__circe">
                    <div class="procedures__content">
                        <p class="procedures__title">Механическая и ультразвуковая</p>
                        <p class="procedures__text">Одна из самых популярных процедур, которая поможет сделать вашу кожу более чистой и свежей.</p>
                    </div>
                </div>

                <div class="procedures__card-rigth">
                    <div class="procedures__content-rigth">
                        <p class="procedures__title">Профессиональный пилинг</p>
                        <p class="procedures__text">Это процедура удаления поверхностных слоев эпителия. Обеспечивается равномерное отшелушивание 
                            нескольких слоев омертвевших клеток, что стимулирует регенерацию кожи и омоложение.</p>
                    </div>
                    <img src="./img/piling.jpg" alt="piling" class="procedures__circe">
                </div>

              <div class="procedures__card">
                    <img src="./img/mesoterapia.jpg" alt="" class="procedures__circe">
                    <div class="procedures__content">
                        <p class="procedures__title">Мезотерапия</p>
                        <p class="procedures__text">Одна из самых популярных процедур, которая поможет сделать вашу кожу более чистой и свежей.</p>
                    </div>
                </div>

                <div class="procedures__card-rigth1">
                    <div class="procedures__content-rigth">
                        <p class="procedures__title">Депиляция</p>
                        <p class="procedures__text">Комфортное удаление нежелательных волос на теле, обеспечивает гладкость кожи.</p>
                    </div>
                    <img src="./img/depilazia.jpg" alt="piling" class="procedures__circe">
                </div>
            </div>
        </div>
        <a href="#" class="procedures__btn">
            <img src="./img/больше процедур.jpg" alt="">
        </a>
    </section>
</body>
</html>