<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="header__wrapper">
                <p class="logo">WTG</p>
                <ul class="header__list">
                    <li class="header__item">
                        <a href="#" class="header__link">Локации</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">события</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">маршруты</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">отдых</a>
                    </li>
                </ul>
                <div class="header__contakt">
                    <img src="./img/user.svg" alt="user" class="header__user">
                    <img src="./img/search.svg" alt="search" class="header__search">
                </div>
            </nav>
        </div>
    </header>

    <section class="main">
        <div class="container">
            <div class="main__wrapper">
                <div class="main__content">
                    <h1 class="main__title">Не знаешь куда пойти?</h1>
                    <p class="main__text">Я помогу!</p>
                </div>
                <img src="./img/fon.png" alt="travelfoto" class="main__foto">
                <div class="main__search">
                    <input type="text" class="main__city" placeholder="Выбери город">
                    <input type="text" class="main__date" placeholder="Выбери дату">
                    <button class="main__btn">найти событие</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>