.container {
    max-width: 1175px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #fff;
}

.navigation_list {
    display: flex;
    justify-content: space-between;
    gap: 84px;
   
}

.menu__item {
    list-style-type: none;
}

.menu__item_link {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
}