<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>полезные завтраки с пастой</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="contacts">
                <p class="city">Москва</p>
                <p class="telefon">8 (800) 552-35-00</p>
            </div>
            <div class="logotype">
                <p class="logo">Likefood</p>
            </div>
            <div class="kabinet">
                <a href="#" class="user__btn">
                    <img src="./img/user.svg" alt="user" class="user">
                </a>
                <a href="#" class="btn__basket">
                    <img src="./img/basket.svg" alt="basket" class="basket">
                </a>
                <span class="count">2</span>
            </div>
        </div>
    </header>
    <section class="navigation">
        <div class="container container__navigation">
            <ul class="navigation__list">
                <li class="navigation__icon">
                    <a href="" class="navigation__link">Продукция</a>
                </li>
                <li class="navigation__icon">
                    <a href="" class="navigation__link">Ингредиенты </a>
                </li>
                <li class="navigation__icon">
                    <a href="" class="navigation__link">Рецепты</a>
                </li>
                <li class="navigation__icon">
                    <a href="" class="navigation__link">О нас</a>
                </li>
                <li class="navigation__icon">
                    <a href="" class="navigation__link">Отзывы</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="banner">
        <div class="container banner__container">
            <h1 class="banner__title">полезные завтраки с пастой</h1>
            <h2 class="banner__subtitle">likeFood</h2>
            <p class="banner__text">Начните новый день с нашей продукцией</p>
            <button class="banner__btn">Заказать</button>
        </div>
    </section>
    
    <section class="catalog">

    </section>
</body>
</html>