<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Теплый дом</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
   <header class="header">
    <div class="container">
        <img src="./images/logo.svg" alt="Logotip" class="logo">
        <button class="header__btn">заказать</button>
    </div>
   </header>

   <main class="main">
    <div class="container">
        <section class="section1"></section>

    <section class="section2">
        <h2 class="section2__title">Наши преимущества</h2>
        <ul class="section2__list">
            <li class="section2__items">Надежные материалы</li>
            <li class="section2__items">опытные монтажники</li>
            <li class="section2__items">Регулируемая температура пола</li>
            <li class="section2__items">Защита от замыканий</li>
            <li class="section2__items">Гарантия до 10 лет</li>
        </ul>
    </section>

    <section class="section3"></section>
    </div>
   </main>

   <footer class="footer">
    <div class="container">

    </div>
   </footer>
</body>
</html>