.root {
    position: relative;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 35px;

    &:focus {
        border: 2px solid rgba(0, 0, 0, 0.1);
    }
}

.icon {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    position: absolute;
    top: 12px;
    left: 12px;
}

.close {
    width: 15px;
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: 12px;
    top: 14px;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}