.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px;
}

.logo {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}

.header__list {
    display: flex;
    gap: 20px;
}

.header__item {
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
}

.header__item-link {

}

.header__user {
    display: flex;
    align-items: center;
    gap: 10px;
}

