<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/location.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="header__wrapper">
                <p class="logo">WTG</p>
                <ul class="header__list">
                    <li class="header__item">
                        <a href="#" class="header__link">Локации</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">события</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">маршруты</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">отдых</a>
                    </li>
                </ul>
                <div class="header__contakt">
                    <img src="./img/user.svg" alt="user" class="header__user">
                    <img src="./img/search.svg" alt="search" class="header__search">
                </div>
            </nav>
        </div>
    </header>

    <section class="main">
        <div class="container">
            <div class="main__wrapper">
                <img src="./img/fon.png" alt="travelfoto" class="main__foto">
                <div class="main__content">
                    <h1 class="main__title">Не знаешь куда пойти?</h1>
                    <p class="main__text">Я помогу!</p>
                </div>
                <div class="main__search">
                    <input type="text" class="main__city" placeholder="Выбери город">
                    <input type="text" class="main__date" placeholder="Выбери дату">
                    <button class="main__btn">найти событие</button>
                </div>
            </div>
        </div>
    </section>

    <section class="location">
        <h2 class="title__h2">Рекомендуемые локации</h2>
        <div class="container">
            <ul class="location__list">
                <div class="location__item">
                    <img src="./img/cart1.jpg" alt="cart location" class="location__img">
                </div>
                <div class="location__item">
                    <p class="emocion">Эмоции</p>
                    <img src="./img/cart2.jpg" alt="cart location" class="location__img">
                </div>
                <div class="location__item">
                    <img src="./img/cart3.jpg" alt="cart location" class="location__img">
                </div>
            </ul>
        </div>
    </section>

    <section class="event">
        <h2 class="title__h2">Главные события недели</h2>
        <div class="container">
            <div class="event__wrapper">
                <div class="event__content">
                    <h3 class="event__title">New Star Camp</h3>
                    <p class="event__text">Уже в 12-й раз в Сочи пройдет New Star Camp — несколько дней настоящего счастья, где соединяются спорт, музыка, закаты, рассветы и атмосфера ежедневного праздника. Это прекрасный фестиваль не только для тех, кто по уши влюблен в снег и покатушки: мероприятие понравится и тому, кто без ума от классных тусовок, ярких людей, неординарных личностей и новой музыки! </p>
                    <div class="event__wrapper_list">
                        <ul class="event__list">
                            <li class="event__item">Адрес: г. Сочи, Роза Хутор</li>
                            <li class="event__item">Дата: 30 марта — 2 апреля</li>
                        </ul>
                        <ul class="event__list">
                            <li class="event__item">Цена: от 33 500 руб.</li>
                            <li class="event__item">Возраст: от 16 лет</li>
                        </ul>
                    </div>
                    <a href="#" class="event__btn">подробнее</a>
                </div>
                <div class="event__img">
                    <img src="./img/events week.jpg" alt="event">
                </div>
            </div>
        </div>
    </section>
</body>
</html>