<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
   <header class="header">
        <div class="container">
            <nav class="navigation">
                <div class="logo">
                    <p class="logo">Korean한국</p>
                </div>
                <div class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">О школе</li>
                        <li class="menu__item">Тарифы</li>
                        <li class="menu__item">преподаватели</li>
                        <li class="menu__item">ОТзывы</li>
                        <li class="menu__item">FAQ</li>
                    </ul>
                </div>
                <div class="header__contacts">
                    <img src="./img/phone.svg" alt="phone" class="user__phone">
                    <img src="./img/user.svg" alt="user" class="user__img">
                </div>
            </nav>
        </div>
   </header>

   <section class="main">
        <div class="container">
                <h1 class="main__h1">КУРСЫ <span> КОРЕЙСКОГО </span> ЯЗЫКА ОНЛАЙН</h1>
            <p class="main__text">Обучение корейскому языку в группах или индивидуально с преподавателями-носителями языка</p>
            <button class="main__btn">Записаться</button>
        </div>
   </section>
</body>
</html>