<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/navigation.css">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/holiday.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <navigation class="navigation">
                <div class="logo">
                    <p class="elena">Elena</p>
                </div>
                <ul class="header__list">
                    <li class="header__item">
                        <a href="#" class="header__link">Ассортимент</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Обо мне</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Доставка / Оплата</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Отзывы</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Контакты</a>
                    </li>
                </ul>

                <div class="header__contacts">
                    <img src="./img/search.svg" alt="search" class="search">
                    <img src="./img/user.svg" alt="backet" class="user">
            </div>
            </navigation>

            <div class="wrapper">
                <div class="rot">
                    <p class="title">Не знаешь куда пойти сегодня?</p>
                    <a href="#" class="btn">Найти событие</a>
                </div>
                <div class="gruen">
                    <img src="./img/detektiv.png" alt="" class="foto-detektiv">
                    <p class="hielfe">Я помогу!</p>
                </div>
            </div>
        </div>
    </header>

    <section class="holiday">
        <div class="container">
            <div class="wrapper">
                <div class="holiday__content">
                    <h2 class="holiday__title">Не знаете где провести выходные?</h2>
                    <p class="holiday__text">Мы сделаем это за вас!</p>
                    <button class="holiday__btn">ПОДОБРАТЬ ОТДЫХ</button>
                </div>

                <div class="holiday__img">
                    <img src="./img/holiday-foto.png" alt="holiday-foto">
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="wrapper">
                <div class="footer__contacts">
                    <p class="logo">WTG</p>
                    <p class="city">г. Краснодар, ул. Трубная 104/3 1 этаж</p>
                    <p class="telefon">+78005554433</p>
                    <p class="mail">wtg@gmail.com</p>
                </div>

                <div class="footer__menu">
                    <ul class="header__list">
                    <li class="header__item">
                        <a href="#" class="header__link">Ассортимент</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Обо мне</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Доставка / Оплата</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Отзывы</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Контакты</a>
                    </li>
                </ul>

                <div class="footer__social">
                    <ul class="list__social">
                        <li class="item_social"><img src="./img/LinkedIn_Round 1.svg" alt=""></li>
                        <li class="item_social"><img src="./img/Instagram_Round 1.svg" alt=""></li>
                        <li class="item_social"><img src="./img/facebook_Round 1.svg" alt=""></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>