.footer {
    padding-top: 71px;
    padding-bottom: 78px;
    background-color: #0D8F91;
    color: #fff;
}

.logo {
    margin-bottom: 31px;
}

.footer__social {
    margin-top: 67px;
}

.list__social {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: end;
}

