.header {
    padding-top: 61px;
    padding-bottom: 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo {
    font-weight: 700;
    font-size: 16px;
    color: #3500B5;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 40px;
}

.menu__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #333333;
}

.user__phone {
    margin-right: 10px;
}




