.header {
    margin-top: 71px;
    margin-bottom: 27px;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__nav {

}

.nav__list {
    display: flex;
    gap: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.nav__link:hover {
    color: #01A096;
}





