.portfolio {
    margin-top: 100px;
    margin-bottom: 100px;
}

.container__portfolio {
    display: block;
}

.section__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    color: #574E56;
    margin-bottom: 63px;
}

.portfolio__list {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.portfolio__item {

}

.portfolio__img {

}
