.about {
    margin-bottom: 200px;
    position: relative;
}

.about__container {
    display: flex;
}

.about__img {
    margin-left: 99px;
}

.about__content {
    margin-top: 73px;
    max-width: 581px;
    margin-left: 83px;
}

.about__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
}

.schmuck {
   position: absolute;
   bottom: -160px;
   right: 400px;
}

