
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 139px;
}

.logo {
    font-family: 'Cookie';
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #351C13;
}

.familia {
    margin-top: -40px;
    margin-left: 70px;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #351C13;
}

.header__contacts {
    display: flex;
    gap: 10px;
}
