.modal {
    position: relative;
    background-color: var(--main-color);
    max-width: 950px;  
    border: 1px solid var(--second-color);
    border-radius: 14px;
    padding: 60px 85px;
    width: 100%;
    display: none;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: var(--main-bg-color);
    transition: color .3s ease-in;
}

.modal__close:hover {
    color: var(--second-color);
}

.modal__close:focus {
    color: var(--second-color);
    outline: 1px solid var(--second-color);
}

.modal__close:active {
    color: var(--second-bg-color);
}

.modal__title {
    color: var(--main-bg-color);
    font-weight: 700;
    font-size: 29px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    display: block;
    position: relative;
}

.modal__label-text {
    position: absolute;
    color: var(--second-color);
    top: 12px;
    left: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
}

.modal__input {
    width: 100%;
    padding: 45px 15px 31px;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 12px;
    margin-bottom: 20px;
}

.modal__label_end {
    margin-bottom: 60px;
}

.modal__button {
    padding: 14px 36px;
    width: 228px;
    height: 51px;
    background: var(--trigger-color);
    border-radius: 10px;
    border: none;
    color: var(--main-color);
    align-self: flex-end;
    cursor: pointer;
}

.modal__button:hover {
    background: var(--main-color);
    color: var(--three-color);
    border: 1px solid var(--main-bg-color);
}

.modal__button:active {
    background: var(--trigger-color);
    color: var(--main-color);
    box-shadow: 0px 2px 6px var(--trigger-color);
}

.modal__button:focus {
    background: var(--trigger-color);
    color: var(--main-color);
    box-shadow: 0px 2px 6px var(--trigger-color);
    border: 1px solid var(--main-bg-color);
}

@media (max-width: 1440px) {
    .modal {
        max-width: 746px;
    }

    .modal__title {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .modal__label_end {
        margin-bottom: 40px;
    }

    .modal__button {
        padding: 12px 30px;
        width: 199px;
        height: 45px;
        border-radius: 8px;
        font-size: 16px;
    }
}


@media (max-width: 1000px) {
    .modal {
        max-width: 600px;
        padding: 20px;
    }

    .modal__title {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .modal__label_end {
        margin-bottom: 25px;
    }

    .modal__input, .modal__label-text {
        font-size: 14px;
    }

    .modal__button {
        padding: 8px 20px;
        width: 162px;
        height: 34px;
        border-radius: 6px;
        font-size: 14px;
    }
}

@media (max-width: 760px) {
    .modal {
        max-width: 450px;
        padding: 60px 20px;
    }

    .modal__title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .modal__label_end {
        margin-bottom: 20px;
    }

    .modal__input, .modal__label-text {
        font-size: 13px;
    }

    .modal__button {
        padding: 7px 17px;
        width: 145px;
        height: 30px;
        border-radius: 8px;
        font-size: 13px;
    }
}

@media (max-width: 580px) {
    .modal {
        max-width: 300px;
        padding: 40px 20px;
    }

    .modal__title {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .modal__label_end {
        margin-bottom: 15px;
    }

    .modal__input,
    .modal__label-text {
        font-size: 12px;
    }

    .modal__button {
        padding: 5px 14px;
        width: 132px;
        height: 26px;
        border-radius: 6px;
        font-size: 12px;
    }
}
