.product {
    padding: 80px 0;
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

/* на макете сначала карточка с более светлым цветом, потом с более темным, 3я еще темнее цвет фона */
.product:nth-child(3n) {  /* каждый третий продукт */
    background-color: var(--one-color);
}

.product:nth-child(3n + 1) { 
    background-color: var(--two-color);
}

.product:nth-child(3n + 2) {
    background-color: var(--three-color);
}

.product__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* на макете 1 карточка текст - фото, 2я карточка фото-текст, 3я текст-фото*/
.product:nth-child(odd) .product__container { /* или (2n + 2), т.е. для каждой второй карточки */
    flex-direction: row-reverse; /* перевернуть таблицу, две колонки наоборот*/
}

.product__content {
    padding-top: 56px;
    max-width: 520px;
}

.product__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: var(--main-color);
}

.product__features {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    margin-top: 30px;
    margin-bottom: 50px;
}

.product__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.04em;
    margin-bottom: 60px;
}

.product__button-wrapper {
    display: flex;
    flex-direction: row;
}

.product__button {
    display: block;
    border-radius: 10px;
    padding: 14px 36px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__order {
    background: var(--second-bg-color);
    border: none;
    margin-right: 36px;
}

.button__more {
    border: 2px solid var(--second-bg-color);
}

.button__order:hover, .button__more:hover {
    background: var(--main-color);
    color: var(--main-bg-color);
}

.button__more:hover {
    border: 2px solid var(--main-bg-color);
}

.button__order:active, .button__more:active {
    background: var(--second-bg-color);
    color: var(--main-color);
    box-shadow: 0px 2px 6px var(--second-bg-color);
}

.button__order:focus, .button__more:focus {
    background: var(--second-bg-color);
    color: var(--main-color);
    border-color: var(--main-bg-color);
}

.product__picture {
    width: calc(50% - 15px); /* так как фото занимает половину */
    border-radius: 16px;
    object-fit: cover; /* чтобы картинка не искажалась */
}

@media (max-width: 1440px) {
    .product__content {
        padding-top: 40px;
        max-width: 460px;
    }
}

@media (max-width: 1200px) {
    .product {
        padding: 60px 0;
    }

    .product__content {
        padding-top: 24px;
        max-width: 380px;
    }

    .button__order, .button__more {
        width: 106px;
        height: 34px;
        font-size: 14px;
    }

    .product__title {
        font-size: 40px;
    }

    .product__features {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .product__description {
        font-size: 16px;
        margin-bottom: 40px;
    }
}

@media (max-width: 760px) {
    .product__button-wrapper {
        gap: 20px;
    }

    .button__order, .button__more {
        width: 106px;
        height: 34px;
        font-size: 14px;
        border-radius: 8px;
    }

    .product__title {
        font-size: 40px;
    }

    .product__features {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .product__description {
        font-size: 16px;
        margin-bottom: 40px;
    }
}

@media (max-width: 580px) {
    .product:nth-child(even), .product__container {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

   .button__order, .button__more {
       width: 85px;
       height: 26px;
       font-size: 12px;
        border-radius: 6px;
   }

   .product__picture {
       width: 100%;
   }

   .product__content {
        width: 100%;
        max-width: none;
        padding: 0;
   }

   .product__title {
       font-size: 28px;
   }

   .product__features {
       font-size: 12px;
       margin-bottom: 20px;
       margin-top: 10px;
   }

   .product__description {
       font-size: 14px;
       margin-bottom: 30px;
   }
}
