<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>полезные завтраки с пастой</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
   <header class="header">
        <div class="container">
            <div class="header__logo">
            <p class="header__logotype">WTG</p>
            </div>
            <div class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__icon navigation__icon-first">
                        <a href="#" class="navigation__link">ЛОКАЦИИ</a>
                    </li>
                    <li class="navigation__icon">
                        <a href="#" class="navigation__link">СОБЫТИЯ</a>
                    </li>
                    <li class="navigation__icon">
                        <a href="#" class="navigation__link">МАРШРУТЫ</a>
                    </li>
                    <li class="navigation__icon">
                        <a href="#" class="navigation__link">ОТДЫХ</a>
                    </li>
                </ul>
                <div class="header__kabinet">
                    <img src="./img/user.svg" alt="user" class="header__icon">
                    <img src="./img/basket.svg" alt="user" class="header__icon">
                </div>
            </div>
            
        </div>
   </header>
</body>
</html>