<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/hero.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <img src="./img/логотип.svg" alt="" class="logo">
            <div class="kabinet">
                <button class="registration">Зарегистрироваться</button>
                <button class="login">Войти</button>
            </div>
        </div>
    </header>

    <main class="app">
        <section class="hero">
            <div class="container container__hero">
                <h1 class="hero__title">WishList</h1>
                <h2 class="hero__subtitle">Никогда не поздно поставить новую цель или обрести новую мечту...</h2>
            
                <div class="hero__wrapper">
                    <ul class="hero__list">
                        <li class="hero__item">
                            <p class="hero__number">1</p>
                            <p class="hero__text">Cоздайте список желаний</p>
                        </li>
                        <li class="hero__item">
                            <p class="hero__number">2</p>
                            <p class="hero__text">Поделитесь ссылкой с друзьями</p>
                        </li>
                        <li class="hero__item">
                            <p class="hero__number">3</p>
                            <p class="hero__text">Получите желанный подарок</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        

  <!--      <section class="withlist"></section>

        <section class="edit edit_profile"></section>

         <section class="edit edit__with"></section>

         <div class="modal"></div>
--> 
    </main>
</body>
</html>